@import './components/common/index.scss';
@import './components/blocks/index.scss';
@import './pages/index.scss';

.container {
  flex: 1;
  max-width: 1200px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
}